:root {
    --primary-color: #002A33; /* Example primary color */
    --secondary-color: #14555F; /* Example secondary color */
    --background-color: #DADADA; /* Example background color */
    --secondary-background-color: #ffffff;
    --text-color: #343a40; /* Example text color */
    --disabled-color: #777777;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    color:var(--primary-color);
    background-color: var(--background-color);
}



h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
    color:var(--primary-color);
}
.container-fluid{
    padding: 0px;
}

.container-fluid > *{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.container-fluid > #carousel, .container-fluid > #carousel > #carouselExample, .container-fluid > .cards-container {
    padding: 0px;
    margin: 0px;
}
#about-us, #reviews{
    background-color: var(--primary-color);
    color: var(--background-color);
}
section{
    padding-top: 20px;
    padding-bottom: 50px;
}
.container-fluid > #about-us > h1, .container-fluid > #reviews > h1{
    color: var(--secondary-background-color);
    background-color: var(--primary-color);
    padding-top: 20px;
    margin-top: 0px;
    
    }

.navbar .navbar-nav .nav-link, .navbar .navbar-brand {
    color:var(--background-color);

}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-brand:hover {
    color:var(--secondary-color);

}
.navbar .navbar-nav .nav-link.disabled, .navbar .navbar-brand.disabled {
    color:var(--disabled-color);
}
.navbar{

    background-color: var(--primary-color);
}



.btn-outline-success{
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color:var(--secondary-color);
    --bs-btn-hover-color:var(--background-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color:var(--secondary-color);
    --bs-btn-active-color:var(--background-color);
}

.card {
    border: 0px;
    padding: 1% !important;
    color:var(--primary-color);
    background-color: var(--background-color);
}


.card-img-top {
    width: 100%;
    border: 0px;
    height: 20vw;
    object-fit: cover;
    border-radius: 4px;
}
/* Media query for devices with a max width of 768px (e.g., phones) */
@media (max-width: 768px) {
    .card-img-top {
        height: 200px; /* Fixed height for smaller screens */
        object-fit: cover; /* Adjust if necessary to maintain aspect ratio */
    }
}

.card .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    --bs-btn-active-color: var(--background-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--background-color);
}

.carousel-inner {
    height: 0px;
    padding-bottom: 50%;
}

@media screen and (min-width:1200px) {
    .carousel-inner {
        height: 0px;
        padding-bottom: 40%;
    }
}

@media screen and (max-width:1200px) {
    .carousel-inner {
        height: 0px;
        padding-bottom: 50%;
    }
}

.carousel-item {
    position: absolute !important;
    /* Bootstrap is insistent */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.carousel-item img {
    height: 100%;
    /* Bootstrap handles width already */
    object-fit: cover;
    /* or 'contain' if you want stretch instead of crop */
}
.carousel-properties-page > .carousel-inner{
    height: 100%;
}
.carousel-properties-page {
    height: 400px;
}

.google-maps-embed{
    border:0;
}

.map-container{
    height: 500px !important;
}

#footer > * .text-body-secondary{
    color: var(--primary-color)!important;
    --bs-nav-link-color: var(--primary-color);
    --bs-nav-link-hover-color: var(--primary-color);

}

.footer-container{
    /* background-color: var(--primary-color); */
}

.review-pic img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%; /* Crop the image into a circle */
}

.review-pic{
    width: 100%;
    height: auto;
    max-width: 100%;
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%; /* Crop the image into a circle */
    margin: 10px;
    margin-right: 20px;
}
.review-card{
    display: flex; /* Use flexbox */
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.review-content {
    flex-grow: 1; /* Allow the content to grow and fill remaining space */
    margin-right: 20px;
}

.navbar-toggler{
   border-color: var(--primary-color);
   margin-right: 5px;
}

.navbar-toggler:hover{
    border-color: var(--primary-color);
    /* background-color: var(--secondary-color) */
    box-shadow: 0 0 0 2px rgba(20, 85, 95, 0.5); 

 }

 .navbar-toggler:focus {
    outline: none;
    box-shadow: none; 
  }

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20, 85, 95, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon :hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100, 100, 100, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.floating-whatsapp-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--secondary-background-color);
	color:var(--secondary-color);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px  rgba(0,0,0,0.5);
}

.floating-whatsapp-button .bi-whatsapp{
    font-size: 40px;
    align-content: center;
}

.bi-person-circle{
    font-size: 50px;
}